notebooks/finetuned_language_model.pth
notebooks/finetuned_model.pth
notebooks/regression_w_finetuning_wo_wdecay.pth
notebooks/regression_wo_finetuning_wo_wdecay.pth
notebooks/regression_wo_finetuning.pth
scripts/finetuned_language_model.pth
scripts/regression_w_finetuning_wo_wdecay.pth
1602.03943v5.pdf
2106.09553v3.pdf
c7sc02664a.pdf
2106.10199v5.pdf
2106.09685v2.pdf
1703.04730v3.pdf
sultan_et_al_2024_transformers_for_molecular_property_prediction.pdf
2205.05638v2.pdf